{% extends 'AppPryF2\formVarios.html' %}

{% load static %}

{% block 2 %}
    <form action='' method='POST'>{% csrf_token %}
        <li>Título: {{entrada.titulo}}</li>
        <li>Entrada: {{entrada.entrada}}</li>
        <li>Autor: {{entrada.nom_usuario}}</li>
        <li>Fecha Creación: {{entrada.fecha_creacion}}</li>
        <li>Fecha Publicación: {{entrada.fecha_publicacion}}</li>
        </br>
            <input type='submit' value='Borrar'>
        </form>
{% endblock %}

{% block 3 %}    
    Entradas
{% endblock%}  

{% block 4 %}
    ¿Seguro de lo que vas a hacer?
{% endblock %}