{% extends 'AppPryF2\about.html' %}


{% load static %}

{% block 1 %}      
    Un poco sobre mí
{% endblock%}

{% block 2 %}      
    Alejandra Silva H.
{% endblock%}

{% block 3 %}      
    Soy chilena, vivo en Santiago de Chile. Soy Profesora de Inglés, Analista Programador e Ingeniero en Informática. Vengo de una familia muy numerosa, somos 8 hermanos.
{% endblock%}

{% block 4 %}      
    Sí, tal como lo lees, somos
{% endblock%}

{% block 5 %}      
    8
{% endblock%}

{% block 6 %}      
    hermanos. Tengo 22 sobrinos. Me gusta cantar y aprender cosas nuevas. Este es mi primer curso en Coderhouse.
{% endblock%}
